[user]
	name = b4b4r07
	email = b4b4r07@gmail.com
[core]
	pager = less -q -R
	excludesfile = ~/.gitignore
[color]
	ui = auto

[alias]
	st = status
	co = checkout
	ci = commit
	df = diff
[help]
	autocorrect = 1
[push]
	default = simple
