# ?? ************************************
# !! NOTE: this is the global git ignore
# ?? ************************************

*~
.tmux/plugins
.DS_Store
.zsh/history

**/node_modules/
**/.*_cache/
**/.*-cache/
**/.cache/
**/cache/
**/.idea/
**/.next/
**/.yarn/

.envrc

.kube/http-cache/
.kube/cache/

**/.tasks/

/.backup
.tool-versions
.scratch/
.codegpt/

# Not a fan of this, dont move this pattern off this computer lol
**/create_local_superuser.py
docker/
Taskfile.yaml
Compose
Procfile
