[core]
    pager = less -q -R
    excludesfile = ~/.gitignore
[color]
    ui = auto

[alias]
    st = status
    co = checkout
    ci = commit
    df = diff
    graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
[help]
    autocorrect = 1
[push]
    # Use the Git 1.x.x default to avoid errors on machines with old Git
    # installations. To use `simple` instead, add this to your `~/.extra` file:
    # `git config --global push.default simple`. See http://git.io/mMah-w.
    default = matching
[user]
    name = Z1Z1R07
    email = z1z1r07@gmail.com
[pager]
    log = diff-highlight  | less -R
    show = diff-highlight | less -R
    diff = diff-highlight | less -R
