[user]
	name = b4b4r07
	email = b4b4r07@gmail.com
[core]
	pager = less -q -R
	excludesfile = ~/.gitignore
[color]
	ui = auto

[alias]
	st = status
	co = checkout
	ci = commit
	df = diff
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
[help]
	autocorrect = 1
[push]
	default = simple
