# Carry out tilde expansion by a tab
set expand-tilde on

# Ignore the small and capital letter
$if Bash
set completion-ignore-case on
$endif

# Auto scroll
set horizontal-scroll-mode off

# Power up Japanses Input Method
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off
