# export BACKUP_SOURCE_DIRS="./test_data/15, ./test_data/12, ./test_data/3, ./test_data/18, ./test_data/20"
export BACKUP_SOURCE_DIRS="~/Documents, ~/Downloads, ~/Code, ~/.ssh"
export BACKUP_DEST_DIR="~/Dropbox/backup"